<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar"
    style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" autocomplete="off" [formGroup]="loginForm"
                (submit)="login()" *ngIf="!showFrgForm">
                <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png"
                        alt="Home" /><br /><img src="../assets/images/logo-text.png" alt="Home" /></a>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control fa" type="email" [placeholder]=idiom.emailField
                            formControlName="email">
                        <small class="text-danger">
                            <p *ngIf="!loginForm.get('email')?.value && formSubmitted">{{ idiom.emailError }}</p>
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group mb3">
                            <input class="form-control fa" type="password" [placeholder]=idiom.passwordField
                                formControlName="password" *ngIf="!showPassword">
                            <input class="form-control fa" type="text" [placeholder]=idiom.passwordField
                                formControlName="password" *ngIf="showPassword">

                            <button class="btn waves-effect waves-light iconButton" type="button"
                                (click)="showPassword = !showPassword"
                                style="top:1px; right:1px; bottom: 1px; z-index : 9999; height: 59%; background-color: transparent; box-shadow: none !important;">
                                <i class="fa fa-eye mt5"
                                    [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i>
                            </button>
                        </div>
                        <small class="text-danger">
                            <p *ngIf="!loginForm.get('password')?.value && formSubmitted">{{ idiom.passwordError }}</p>
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0 fa">
                            <input id="checkbox-signup" type="checkbox" formControlName="remember">
                            <label for="checkbox-signup"> {{ idiom.rememberMeField }} </label>
                        </div>
                        <a routerLink="/recover" id="to-recover" class="text-dark pull-right fa cursor"><i
                                class="fa fa-lock m-r-5"></i> {{
                            idiom.forgotPassword }}</a>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <app-button [title]=idiom.signIn classBtn="fa-sign-in"></app-button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 ">
                        <div #googleBtn class="fa center"></div>
                    </div>
                </div>
                <div class="form-group m-b-0 m-t-20">
                    <div class="col-sm-12 text-center fa">
                        {{ idiom.dntHveAccount }} <a routerLink="/register" class="text-info m-l-5 fa"><b> {{
                                idiom.signUp }}</b></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->