<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar"
    style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" autocomplete="off" [formGroup]="resetForm"
                (submit)="recoverPassword()">
                <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png"
                        alt="Home" /><br /><img src="../assets/images/logo-text.png" alt="Home" /></a>
                <div class="form-group fa m-t-40">
                    <h3>{{ idiom.recoverPassword}}</h3>
                    <div class="col-xs-12">
                        <p class="text-muted fa">{{ idiom.instructions}} </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control fa" type="email" [placeholder]=idiom.emailField
                            formControlName="email">
                        <small class="text-danger">
                            <p *ngIf="!resetForm.get('email')?.value && formSubmitted">{{ idiom.emailError }}</p>
                        </small>
                    </div>
                </div>
                <div class="form-group text-center m-t-5">
                    <div class="col-xs-12">
                        <app-button [title]=idiom.resetBtn classBtn="fa-repeat"></app-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->